In [2]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
import lightgbm as lgb
from sklearn.model_selection import StratifiedKFold
from sklearn import metrics

In [3]:
import scipy.stats as stats
def resumetable(df):
    print(f"Dataset Shape: {df.shape}")
    summary = pd.DataFrame(df.dtypes,columns=['dtypes'])
    summary = summary.reset_index()
    summary['Name'] = summary['index']
    summary = summary[['Name','dtypes']]
    summary['Missing'] = df.isnull().sum().values    
    summary['Uniques'] = df.nunique().values
    summary['First Value'] = df.loc[0].values
    summary['Second Value'] = df.loc[1].values
    summary['Third Value'] = df.loc[2].values

    for name in summary['Name'].value_counts().index:
        summary.loc[summary['Name'] == name, 'Entropy'] = round(stats.entropy(df[name].value_counts(normalize=True), base=2),2) 

    return summary

In [28]:
train = pd.read_csv('data/train.csv')

In [29]:
train.sample(10)

,uesr_id,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
653,723,46,No,Travel_Rarely,566,Research & Development,7,2,Medical,1,...,2,80,1,13,3,3,8,7,0,7
625,766,50,No,Travel_Rarely,1464,Research & Development,2,4,Medical,1,...,4,80,1,29,2,2,8,1,7,7
782,698,35,No,Travel_Rarely,1219,Sales,18,3,Medical,1,...,2,80,0,5,3,3,5,2,1,0
633,507,29,No,Travel_Rarely,1176,Sales,3,2,Medical,1,...,1,80,1,6,5,2,6,0,1,2
191,1328,27,No,Travel_Rarely,728,Sales,23,1,Medical,1,...,4,80,1,9,5,3,9,8,5,8
152,320,27,No,Travel_Rarely,1377,Sales,2,3,Life Sciences,1,...,1,80,0,5,3,3,5,4,0,4
407,1005,29,No,Travel_Rarely,332,Human Resources,17,3,Other,1,...,1,80,0,10,3,2,10,9,0,9
100,689,20,Yes,Travel_Rarely,129,Research & Development,4,3,Technical Degree,1,...,2,80,0,1,2,3,1,0,0,0
146,590,33,No,Travel_Rarely,213,Research & Development,7,3,Medical,1,...,4,80,0,14,3,4,13,9,3,7
1052,1456,35,No,Travel_Frequently,1199,Research & Development,18,4,Life Sciences,1,...,4,80,2,10,2,4,10,2,0,2

In [30]:
resumetable(train)

Dataset Shape: (1176, 36)

,Name,dtypes,Missing,Uniques,First Value,Second Value,Third Value,Entropy
0,uesr_id,int64,0,1176,1374,1092,768,10.20
1,Age,int64,0,43,58,45,40,5.13
2,Attrition,object,0,2,No,No,No,0.63
3,BusinessTravel,object,0,3,Travel_Rarely,Travel_Rarely,Travel_Rarely,1.15
4,DailyRate,int64,0,783,605,950,300,9.46
5,Department,object,0,3,Sales,Research & Development,Sales,1.12
6,DistanceFromHome,int64,0,29,21,28,26,4.35
7,Education,int64,0,5,3,3,3,2.00
8,EducationField,object,0,6,Life Sciences,Technical Degree,Marketing,2.04
9,EmployeeCount,int64,0,1,1,1,1,0.00
10,EmployeeNumber,int64,0,1176,1938,1546,1066,10.20
11,EnvironmentSatisfaction,int64,0,4,4,4,3,1.96
12,Gender,object,0,2,Female,Male,Male,0.97
13,HourlyRate,int64,0,71,72,97,74,6.12
14,JobInvolvement,int64,0,4,3,3,3,1.52
15,JobLevel,int64,0,5,4,1,2,1.95
16,JobRole,object,0,9,Manager,Research Scientist,Sales Executive,2.92
17,JobSatisfaction,int64,0,4,4,4,1,1.96
18,MaritalStatus,object,0,3,Married,Married,Married,1.53
19,MonthlyIncome,int64,0,1091,17875,2132,8396,10.05
20,MonthlyRate,int64,0,1147,11761,4585,22217,10.15
21,NumCompaniesWorked,int64,0,10,4,4,1,2.87
22,Over18,object,0,1,Y,Y,Y,0.00
23,OverTime,object,0,2,Yes,No,No,0.85
24,PercentSalaryHike,int64,0,15,13,20,14,3.55
25,PerformanceRating,int64,0,2,3,4,3,0.61
26,RelationshipSatisfaction,int64,0,4,3,4,2,1.97
27,StandardHours,int64,0,1,80,80,80,0.00
28,StockOptionLevel,int64,0,4,1,1,1,1.65
29,TotalWorkingYears,int64,0,39,29,8,8,4.63
30,TrainingTimesLastYear,int64,0,7,2,3,3,2.20
31,WorkLifeBalance,int64,0,4,2,3,2,1.50
32,YearsAtCompany,int64,0,37,1,5,7,4.13
33,YearsInCurrentRole,int64,0,19,0,4,7,3.31
34,YearsSinceLastPromotion,int64,0,16,0,0,7,2.69
35,YearsWithCurrManager,int64,0,18,0,3,5,3.29

In [31]:
def extract_features(df, is_train=False):
    # target
    if is_train:
        attrition_dict = {'No':0,'Yes':1}
        df['Attrition'] = df['Attrition'].map(lambda x: attrition_dict[x])
    # BusinessTravel
    businesstravel_dict = {'Non-Travel':0, 'Travel_Rarely':1, 'Travel_Frequently':2}
    df['BusinessTravel'] = df['BusinessTravel'].map(lambda x: businesstravel_dict[x])
    # Department
    department_dict = {'Sales':0, 'Research & Development':1, 'Human Resources':2}
    df['Department'] = df['Department'].map(lambda x: department_dict[x])
    # EducationField
    educationfield_dict = {'Life Sciences':0, 'Medical':1, 'Marketing':2, 'Technical Degree':3, 'Human Resources':4, 'Other':5}
    df['EducationField'] = df['EducationField'].map(lambda x: educationfield_dict[x])
    # Gender
    gender_dict = {'Male':0, 'Female': 1}
    df['Gender'] = df['Gender'].map(lambda x: gender_dict[x])
    # JobRole
    jobrole_dict = {'Sales Executive':0, 
                    'Research Scientist':1, 
                    'Laboratory Technician':2, 
                    'Manufacturing Director':3, 
                    'Healthcare Representative':4,
                    'Manager':5, 
                    'Sales Representative':6,
                    'Research Director':7,
                    'Human Resources':8
                   }
    df['JobRole'] = df['JobRole'].map(lambda x: jobrole_dict[x])
    # MaritalStatus
    maritalstatus_dict = {'Single':0, 'Married':1, 'Divorced':2}
    df['MaritalStatus'] = df['MaritalStatus'].map(lambda x: maritalstatus_dict[x])
    # Over18
    df = df.drop(['Over18'], axis=1)
    # OverTime
    overtime_dict = {'Yes':0, 'No':1}
    df['OverTime'] = df['OverTime'].map(lambda x: overtime_dict[x])
    return df

In [32]:
train_ex = extract_features(train, True)

In [33]:
train_ex.sample(5)

,uesr_id,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
314,200,27,0,2,472,1,1,1,3,1,...,3,80,1,6,1,3,2,2,2,0
413,95,54,0,1,1217,1,2,4,3,1,...,1,80,1,16,5,1,4,3,0,3
85,251,39,0,2,505,1,2,4,3,1,...,4,80,0,20,1,3,19,6,11,8
169,64,36,0,1,1223,1,8,3,3,1,...,2,80,3,17,2,3,17,14,12,8
618,119,43,0,2,394,0,26,2,0,1,...,4,80,2,25,3,4,25,12,4,12

In [34]:
test = pd.read_csv('data/test.csv')

In [35]:
test_ex = extract_features(test, False)

In [121]:
train['Attrition'].value_counts()

0    988
1    188
Name: Attrition, dtype: int64

In [36]:
test_ex.sample(5)

,user_id,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
51,182,41,1,1356,0,20,2,2,1,248,...,4,80,0,4,5,2,4,3,0,2
204,572,29,1,657,1,27,3,1,1,793,...,1,80,1,11,3,2,8,7,1,1
124,82,55,1,111,0,1,2,0,1,106,...,4,80,1,24,4,3,1,0,1,0
208,303,31,1,218,0,7,3,3,1,416,...,2,80,1,10,3,2,8,7,7,7
242,18,53,1,1219,0,2,4,0,1,23,...,3,80,0,31,3,3,25,8,3,7

In [55]:
test_ex.shape

(294, 34)

In [42]:
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
import itertools
# 绘制混淆矩阵
def plot_confusion_matrix(cm, classes, normalize=False, title='Confusion matrix', cmap=plt.cm.Blues):
    """
    This function prints and plots the confusion matrix.
    Normalization can be applied by setting `normalize=True`.
    Input
    - cm : 计算出的混淆矩阵的值
    - classes : 混淆矩阵中每一行每一列对应的列
    - normalize : True:显示百分比, False:显示个数
    """
    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
        print("Normalized confusion matrix")
    else:
        print('Confusion matrix, without normalization')
    print(cm)
    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    tick_marks = np.arange(len(classes))
    plt.xticks(tick_marks, classes, rotation=45)
    plt.yticks(tick_marks, classes)
    fmt = '.2f' if normalize else 'd'
    thresh = cm.max() / 2.
    for i, j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
        plt.text(j, i, format(cm[i, j], fmt),
                 horizontalalignment="center",
                 color="white" if cm[i, j] > thresh else "black")
    plt.tight_layout()
    plt.ylabel('True label')
    plt.xlabel('Predicted label')

In [46]:
target = 'Attrition'
features = [x for x in train_ex.columns if x not in ['Attrition', 'uesr_id']]

### Lightgbm

In [47]:
params = {'num_leaves': 60, #结果对最终效果影响较大，越大值越好，太大会出现过拟合
          'min_data_in_leaf': 30,
          'objective': 'binary', #定义的目标函数
          'max_depth': -1,
          'learning_rate': 0.03,
          "min_sum_hessian_in_leaf": 6,
          "boosting": "gbdt",
          "feature_fraction": 0.9,  #提取的特征比率
          "bagging_freq": 1,
          "bagging_fraction": 0.8,
          "bagging_seed": 11,
          "lambda_l1": 0.1,             #l1正则
          "verbosity": -1,
          "nthread": -1,                #线程数量，-1表示全部线程，线程越多，运行的速度越快
          'metric': {'binary_logloss', 'auc'},  ##评价函数选择
          "random_state": 2019, #随机数种子，可以防止每次运行的结果不一致
         }

In [57]:
folds = StratifiedKFold(n_splits=5, shuffle=True, random_state=2019)
prob_oof = np.zeros((train_ex.shape[0], ))
test_pred_prob = np.zeros((test_ex.shape[0], ))

In [61]:
## train and predict
feature_importance_df = pd.DataFrame()
train_x = train_ex[features].copy()
train_y = train_ex[target]
for fold_, (trn_idx, val_idx) in enumerate(folds.split(train_x, train_y)):
    print("fold {}".format(fold_ + 1))
    trn_data = lgb.Dataset(train_x.iloc[trn_idx], label=train_y[trn_idx])
    val_data = lgb.Dataset(train_x.iloc[val_idx], label=train_y[val_idx])

    clf = lgb.train(params,
                    trn_data,
                    valid_sets=[trn_data, val_data],
                    verbose_eval=20,
                    early_stopping_rounds=60)
    prob_oof[val_idx] = clf.predict(train_x.iloc[val_idx], num_iteration=clf.best_iteration)

    fold_importance_df = pd.DataFrame()
    fold_importance_df["Feature"] = features
    fold_importance_df["importance"] = clf.feature_importance()
    fold_importance_df["fold"] = fold_ + 1
    feature_importance_df = pd.concat([feature_importance_df, fold_importance_df], axis=0)

    test_pred_prob += clf.predict(test_ex[features], num_iteration=clf.best_iteration) / folds.n_splits

fold 1
Training until validation scores don't improve for 60 rounds
[20]	training's binary_logloss: 0.362436	training's auc: 0.904865	valid_1's binary_logloss: 0.389455	valid_1's auc: 0.794524
[40]	training's binary_logloss: 0.316149	training's auc: 0.926338	valid_1's binary_logloss: 0.367271	valid_1's auc: 0.803961
[60]	training's binary_logloss: 0.284053	training's auc: 0.943468	valid_1's binary_logloss: 0.360125	valid_1's auc: 0.803296
[80]	training's binary_logloss: 0.259559	training's auc: 0.953882	valid_1's binary_logloss: 0.353103	valid_1's auc: 0.810074
[100]	training's binary_logloss: 0.238779	training's auc: 0.96189	valid_1's binary_logloss: 0.350838	valid_1's auc: 0.810207
Did not meet early stopping. Best iteration is:
[100]	training's binary_logloss: 0.238779	training's auc: 0.96189	valid_1's binary_logloss: 0.350838	valid_1's auc: 0.810207
fold 2
Training until validation scores don't improve for 60 rounds
[20]	training's binary_logloss: 0.36504	training's auc: 0.888295	valid_1's binary_logloss: 0.39383	valid_1's auc: 0.778974
[40]	training's binary_logloss: 0.321937	training's auc: 0.915932	valid_1's binary_logloss: 0.370711	valid_1's auc: 0.801701
[60]	training's binary_logloss: 0.291554	training's auc: 0.931198	valid_1's binary_logloss: 0.356448	valid_1's auc: 0.820574
[80]	training's binary_logloss: 0.267526	training's auc: 0.944447	valid_1's binary_logloss: 0.344613	valid_1's auc: 0.836523
[100]	training's binary_logloss: 0.247774	training's auc: 0.953443	valid_1's binary_logloss: 0.33552	valid_1's auc: 0.84051
Did not meet early stopping. Best iteration is:
[100]	training's binary_logloss: 0.247774	training's auc: 0.953443	valid_1's binary_logloss: 0.33552	valid_1's auc: 0.84051
fold 3
Training until validation scores don't improve for 60 rounds
[20]	training's binary_logloss: 0.361855	training's auc: 0.899603	valid_1's binary_logloss: 0.387142	valid_1's auc: 0.791999
[40]	training's binary_logloss: 0.318215	training's auc: 0.921527	valid_1's binary_logloss: 0.367268	valid_1's auc: 0.804758
[60]	training's binary_logloss: 0.286717	training's auc: 0.939342	valid_1's binary_logloss: 0.350224	valid_1's auc: 0.817119
[80]	training's binary_logloss: 0.26228	training's auc: 0.949932	valid_1's binary_logloss: 0.339638	valid_1's auc: 0.829213
[100]	training's binary_logloss: 0.242352	training's auc: 0.959603	valid_1's binary_logloss: 0.32999	valid_1's auc: 0.834662
Did not meet early stopping. Best iteration is:
[100]	training's binary_logloss: 0.242352	training's auc: 0.959603	valid_1's binary_logloss: 0.32999	valid_1's auc: 0.834662
fold 4
Training until validation scores don't improve for 60 rounds
[20]	training's binary_logloss: 0.361924	training's auc: 0.895568	valid_1's binary_logloss: 0.389366	valid_1's auc: 0.744409
[40]	training's binary_logloss: 0.315916	training's auc: 0.918152	valid_1's binary_logloss: 0.372547	valid_1's auc: 0.75511
[60]	training's binary_logloss: 0.283802	training's auc: 0.93838	valid_1's binary_logloss: 0.362103	valid_1's auc: 0.76979
[80]	training's binary_logloss: 0.257508	training's auc: 0.953215	valid_1's binary_logloss: 0.355556	valid_1's auc: 0.778433
[100]	training's binary_logloss: 0.237182	training's auc: 0.962115	valid_1's binary_logloss: 0.354522	valid_1's auc: 0.780491
Did not meet early stopping. Best iteration is:
[100]	training's binary_logloss: 0.237182	training's auc: 0.962115	valid_1's binary_logloss: 0.354522	valid_1's auc: 0.780491
fold 5
Training until validation scores don't improve for 60 rounds
[20]	training's binary_logloss: 0.359818	training's auc: 0.897874	valid_1's binary_logloss: 0.394932	valid_1's auc: 0.716148
[40]	training's binary_logloss: 0.315781	training's auc: 0.920764	valid_1's binary_logloss: 0.374366	valid_1's auc: 0.741528
[60]	training's binary_logloss: 0.28496	training's auc: 0.935935	valid_1's binary_logloss: 0.366528	valid_1's auc: 0.753876
[80]	training's binary_logloss: 0.261312	training's auc: 0.948669	valid_1's binary_logloss: 0.359214	valid_1's auc: 0.76293
[100]	training's binary_logloss: 0.24103	training's auc: 0.958272	valid_1's binary_logloss: 0.353569	valid_1's auc: 0.77322
Did not meet early stopping. Best iteration is:
[100]	training's binary_logloss: 0.24103	training's auc: 0.958272	valid_1's binary_logloss: 0.353569	valid_1's auc: 0.77322

In [63]:
test_pred_prob

array([0.06452175, 0.05525384, 0.1600274 , 0.11032989, 0.73360876,
       0.33149214, 0.3391251 , 0.1223773 , 0.05471959, 0.14636679,
       0.08430259, 0.10360928, 0.074331  , 0.62371538, 0.09204717,
       0.02316301, 0.09601098, 0.08151625, 0.06997116, 0.13679904,
       0.41835902, 0.11354797, 0.06928391, 0.05947818, 0.36182525,
       0.27893989, 0.06511181, 0.05224476, 0.62019878, 0.05739555,
       0.06368382, 0.06047625, 0.22024513, 0.11955981, 0.0837441 ,
       0.05996718, 0.11916848, 0.16043379, 0.05537568, 0.11529996,
       0.08186755, 0.04727629, 0.07104397, 0.08192651, 0.06541345,
       0.56389666, 0.2534212 , 0.04650051, 0.71988045, 0.42331891,
       0.22118788, 0.43281723, 0.11838171, 0.09772702, 0.43488904,
       0.13721028, 0.05455279, 0.09854813, 0.0370498 , 0.23996588,
       0.04660964, 0.19797119, 0.07944034, 0.09607871, 0.36036127,
       0.10582262, 0.18843977, 0.11435005, 0.07568054, 0.18081901,
       0.10525129, 0.33393902, 0.10083872, 0.04566851, 0.07155336,
       0.07861416, 0.10987105, 0.0887467 , 0.33978888, 0.03987433,
       0.05243101, 0.04339627, 0.07419059, 0.07676385, 0.08556735,
       0.08566451, 0.06002397, 0.12964622, 0.07154278, 0.0882074 ,
       0.44892398, 0.06088681, 0.10617822, 0.23198203, 0.05638893,
       0.06036544, 0.16561978, 0.38182597, 0.06077624, 0.1030627 ,
       0.14985128, 0.23780515, 0.23102257, 0.06095228, 0.06075747,
       0.04737043, 0.0829287 , 0.36365466, 0.12407985, 0.18855163,
       0.10027511, 0.09769666, 0.04476726, 0.07512962, 0.10317858,
       0.09848217, 0.0566906 , 0.11103129, 0.05540492, 0.02952779,
       0.07302962, 0.03439452, 0.0615402 , 0.64269331, 0.1649415 ,
       0.06206368, 0.03487889, 0.0901334 , 0.09721134, 0.08704491,
       0.05500991, 0.17746   , 0.47362157, 0.22905882, 0.06507926,
       0.20975576, 0.40774342, 0.10696284, 0.13589818, 0.05833296,
       0.08731125, 0.16790297, 0.11847022, 0.0984616 , 0.20805081,
       0.07212884, 0.08106159, 0.05575342, 0.06033827, 0.12171157,
       0.06097937, 0.14424967, 0.13452042, 0.20103675, 0.10561305,
       0.05377518, 0.051015  , 0.18100583, 0.08225109, 0.05636093,
       0.27327964, 0.03314053, 0.15831697, 0.68656982, 0.04759674,
       0.21329571, 0.19996639, 0.05929222, 0.04996024, 0.03221304,
       0.08427091, 0.05477216, 0.08002955, 0.15741066, 0.04863715,
       0.27674353, 0.08522311, 0.27025101, 0.14389319, 0.12752485,
       0.05520034, 0.05140817, 0.04202594, 0.48201957, 0.04261905,
       0.06694842, 0.28389625, 0.08452068, 0.16576839, 0.28551341,
       0.18225362, 0.53030576, 0.11368914, 0.03841644, 0.09150173,
       0.11165586, 0.06539738, 0.07206194, 0.51785679, 0.092055  ,
       0.16484229, 0.10356276, 0.2391342 , 0.04428911, 0.10128689,
       0.14039726, 0.33880401, 0.03680762, 0.13064128, 0.05970567,
       0.07407157, 0.06470982, 0.0449743 , 0.13612162, 0.06108045,
       0.0413644 , 0.06448142, 0.21456423, 0.068571  , 0.3043833 ,
       0.07728984, 0.33779546, 0.48413498, 0.08909941, 0.23492964,
       0.04930417, 0.09279642, 0.27595962, 0.58556007, 0.16106748,
       0.04062158, 0.20451527, 0.08897281, 0.0761681 , 0.05808997,
       0.27472569, 0.25073379, 0.03160258, 0.13973035, 0.05299858,
       0.27510145, 0.17631617, 0.06165556, 0.11086111, 0.12085483,
       0.07969769, 0.06771303, 0.36544164, 0.06237189, 0.1788    ,
       0.13350853, 0.18351477, 0.32287656, 0.0931654 , 0.19681243,
       0.0849202 , 0.0392014 , 0.66350522, 0.18601562, 0.29018078,
       0.16400116, 0.06285695, 0.19315348, 0.09621885, 0.1469631 ,
       0.2145256 , 0.02753677, 0.24040287, 0.12925495, 0.04296224,
       0.08819273, 0.02988257, 0.09702659, 0.07703487, 0.04588891,
       0.06464698, 0.09387617, 0.2304688 , 0.10514083, 0.25717462,
       0.29505955, 0.06365903, 0.0939802 , 0.06845296, 0.11787605,
       0.17892956, 0.01945024, 0.12674565, 0.07094348, 0.06480719,
       0.13278341, 0.27013277, 0.05210254, 0.08173589])

In [81]:
fresult = pd.DataFrame(test['user_id'])

In [82]:
threshold = 0.5
result = np.zeros((test.shape[0], ))
for idx, pred in enumerate(test_pred_prob):
    result[idx] = 1 if pred > threshold else 0

In [119]:
fresult['Attrition'] = test_pred_prob

In [117]:
fresult['Attrition'] = fresult['Attrition'].astype('int')

In [90]:
import time

In [120]:
fresult.to_csv(f'result-{int(time.time())}.csv', index=None)

In [97]:
fold_importance_df.sort_values('importance', ascending=False)

                     Feature  importance  fold
0                        Age          87     5
17             MonthlyIncome          76     5
18               MonthlyRate          65     5
20                  OverTime          62     5
2                  DailyRate          56     5
19        NumCompaniesWorked          56     5
11                HourlyRate          55     5
9    EnvironmentSatisfaction          46     5
4           DistanceFromHome          42     5
25          StockOptionLevel          41     5
29            YearsAtCompany          36     5
14                   JobRole          33     5
6             EducationField          32     5
8             EmployeeNumber          30     5
15           JobSatisfaction          30     5
21         PercentSalaryHike          29     5
32      YearsWithCurrManager          29     5
26         TotalWorkingYears          28     5
16             MaritalStatus          24     5
31   YearsSinceLastPromotion          23     5
23  RelationshipSatisfaction          22     5
1             BusinessTravel          20     5
13                  JobLevel          18     5
3                 Department          16     5
27     TrainingTimesLastYear          13     5
28           WorkLifeBalance          13     5
30        YearsInCurrentRole          11     5
12            JobInvolvement           6     5
10                    Gender           5     5
5                  Education           4     5
7              EmployeeCount           0     5
22         PerformanceRating           0     5
24             StandardHours           0     5

### XGBClassifier

In [100]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import SelectFromModel

import xgboost as xgb

In [106]:
X_train, X_test, y_train, y_test = train_test_split(train_x, train_y, test_size=0.20, random_state=1729)

In [107]:
clf = ExtraTreesClassifier(random_state=1729)
selector = clf.fit(X_train, y_train)

C:\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [108]:
fs = SelectFromModel(selector, prefit=True)

X_train = fs.transform(X_train)
X_test = fs.transform(X_test)
test = fs.transform(test_ex[features])

In [109]:
m2_xgb = xgb.XGBClassifier(n_estimators=110, nthread=-1, max_depth = 4, seed=1729)
m2_xgb.fit(X_train, y_train, eval_metric="auc", verbose = False, eval_set=[(X_test, y_test)])

# calculate the auc score
print("Roc AUC: ", roc_auc_score(y_test, m2_xgb.predict_proba(X_test)[:,1], average='macro'))

Roc AUC:  0.8547787909490038

In [110]:
probs = m2_xgb.predict_proba(test)

In [111]:
test_id = test_ex.user_id

In [112]:
submission = pd.DataFrame({"user_id":test_id, "Attrition": probs[:,1]})
submission.to_csv(f'result-{int(time.time())}.csv', index=False)

In [113]:
probs

array([[0.9517491 , 0.04825092],
       [0.9498245 , 0.05017549],
       [0.9513846 , 0.04861542],
       [0.9574951 , 0.04250488],
       [0.26311904, 0.73688096],
       [0.9765531 , 0.0234469 ],
       [0.7440974 , 0.2559026 ],
       [0.92326665, 0.07673335],
       [0.95909214, 0.04090788],
       [0.7672973 , 0.23270266],
       [0.9873375 , 0.01266249],
       [0.8335949 , 0.16640511],
       [0.98026717, 0.01973284],
       [0.21220803, 0.78779197],
       [0.9873468 , 0.01265316],
       [0.9865611 , 0.01343888],
       [0.93694437, 0.06305563],
       [0.8832462 , 0.11675381],
       [0.9698582 , 0.0301418 ],
       [0.65969133, 0.34030867],
       [0.19703817, 0.8029618 ],
       [0.97723466, 0.02276536],
       [0.9544496 , 0.04555043],
       [0.9753926 , 0.02460744],
       [0.6848353 , 0.31516466],
       [0.953155  , 0.04684501],
       [0.94525576, 0.05474424],
       [0.98857605, 0.01142392],
       [0.06027222, 0.9397278 ],
       [0.97050387, 0.02949616],
       [0.99007833, 0.00992165],
       [0.99053955, 0.00946045],
       [0.9319514 , 0.06804861],
       [0.9621804 , 0.0378196 ],
       [0.99534166, 0.00465837],
       [0.92928547, 0.07071455],
       [0.94160265, 0.05839734],
       [0.9069736 , 0.09302641],
       [0.7935459 , 0.2064541 ],
       [0.9730415 , 0.02695853],
       [0.98352325, 0.01647674],
       [0.967807  , 0.03219299],
       [0.99356085, 0.00643916],
       [0.95215464, 0.04784534],
       [0.9352455 , 0.06475449],
       [0.33314592, 0.6668541 ],
       [0.62897193, 0.37102807],
       [0.9903925 , 0.00960752],
       [0.03268087, 0.96731913],
       [0.5719826 , 0.42801738],
       [0.92870176, 0.07129821],
       [0.83864164, 0.16135834],
       [0.73590887, 0.26409116],
       [0.97190386, 0.02809616],
       [0.48904628, 0.5109537 ],
       [0.8737382 , 0.12626176],
       [0.9777934 , 0.02220662],
       [0.9318042 , 0.06819579],
       [0.988887  , 0.011113  ],
       [0.589581  , 0.410419  ],
       [0.97917837, 0.0208216 ],
       [0.9795084 , 0.02049159],
       [0.9625491 , 0.03745092],
       [0.9537471 , 0.0462529 ],
       [0.797956  , 0.20204404],
       [0.99113554, 0.00886445],
       [0.9594273 , 0.04057272],
       [0.97718763, 0.02281234],
       [0.865077  , 0.134923  ],
       [0.9321343 , 0.06786575],
       [0.9396226 , 0.06037744],
       [0.536496  , 0.46350402],
       [0.9655367 , 0.0344633 ],
       [0.9641706 , 0.03582943],
       [0.9345697 , 0.0654303 ],
       [0.95206   , 0.04794001],
       [0.87292033, 0.12707968],
       [0.9663684 , 0.03363161],
       [0.82487637, 0.17512362],
       [0.9854363 , 0.01456365],
       [0.9923473 , 0.00765272],
       [0.9882839 , 0.01171612],
       [0.97660077, 0.02339924],
       [0.9194369 , 0.08056315],
       [0.96595335, 0.03404666],
       [0.9701924 , 0.02980765],
       [0.97815555, 0.02184447],
       [0.7719014 , 0.22809856],
       [0.9648782 , 0.03512179],
       [0.9737853 , 0.02621469],
       [0.44783777, 0.55216223],
       [0.9751774 , 0.02482261],
       [0.91164404, 0.08835598],
       [0.58212686, 0.41787314],
       [0.8296142 , 0.1703858 ],
       [0.94154805, 0.05845194],
       [0.9539226 , 0.04607737],
       [0.83157784, 0.16842216],
       [0.9898971 , 0.01010295],
       [0.96150124, 0.03849873],
       [0.974692  , 0.02530799],
       [0.9179999 , 0.08200006],
       [0.87360764, 0.12639236],
       [0.98103225, 0.01896777],
       [0.9886908 , 0.01130921],
       [0.96607125, 0.03392877],
       [0.9215098 , 0.07849022],
       [0.40583658, 0.5941634 ],
       [0.95014787, 0.04985211],
       [0.97356164, 0.02643835],
       [0.688453  , 0.31154698],
       [0.9587392 , 0.04126078],
       [0.9805865 , 0.01941348],
       [0.9553694 , 0.04463058],
       [0.90715605, 0.09284396],
       [0.98597914, 0.01402083],
       [0.93543744, 0.06456253],
       [0.94020915, 0.05979088],
       [0.9900261 , 0.00997386],
       [0.99491763, 0.00508235],
       [0.99265265, 0.00734737],
       [0.94387686, 0.05612314],
       [0.9720037 , 0.0279963 ],
       [0.0837974 , 0.9162026 ],
       [0.67923236, 0.32076764],
       [0.996967  , 0.00303297],
       [0.98815984, 0.01184019],
       [0.9105807 , 0.08941932],
       [0.94447345, 0.05552654],
       [0.92126596, 0.07873404],
       [0.98871046, 0.01128956],
       [0.6947361 , 0.30526388],
       [0.79495376, 0.20504625],
       [0.71407056, 0.2859294 ],
       [0.9841027 , 0.01589729],
       [0.83656204, 0.16343793],
       [0.6567222 , 0.34327784],
       [0.92968744, 0.07031257],
       [0.96281207, 0.03718792],
       [0.98614365, 0.01385633],
       [0.99027455, 0.00972545],
       [0.91065764, 0.08934239],
       [0.8609661 , 0.13903393],
       [0.9563102 , 0.0436898 ],
       [0.7383566 , 0.2616434 ],
       [0.96641725, 0.03358276],
       [0.9251503 , 0.07484972],
       [0.99035674, 0.00964324],
       [0.9166806 , 0.08331942],
       [0.943991  , 0.056009  ],
       [0.96009576, 0.03990424],
       [0.7507211 , 0.24927893],
       [0.8949618 , 0.10503821],
       [0.94297385, 0.05702614],
       [0.99222744, 0.00777259],
       [0.9252395 , 0.07476047],
       [0.99540645, 0.00459355],
       [0.63704485, 0.36295515],
       [0.8814544 , 0.11854557],
       [0.9098422 , 0.09015778],
       [0.9696731 , 0.03032688],
       [0.9795473 , 0.02045267],
       [0.7190722 , 0.2809278 ],
       [0.12103343, 0.87896657],
       [0.9711149 , 0.02888511],
       [0.7679344 , 0.23206563],
       [0.93174756, 0.06825243],
       [0.968553  , 0.03144697],
       [0.98882127, 0.01117872],
       [0.96908826, 0.03091175],
       [0.92019796, 0.07980204],
       [0.9879005 , 0.01209951],
       [0.87718976, 0.12281023],
       [0.78145057, 0.21854945],
       [0.9933122 , 0.00668784],
       [0.799     , 0.201     ],
       [0.9852102 , 0.01478984],
       [0.9035236 , 0.09647636],
       [0.69941425, 0.30058578],
       [0.92163247, 0.07836755],
       [0.9919439 , 0.00805611],
       [0.9838232 , 0.01617681],
       [0.99599504, 0.00400493],
       [0.5745964 , 0.42540357],
       [0.9014733 , 0.09852674],
       [0.96718425, 0.03281575],
       [0.84097534, 0.15902464],
       [0.9490746 , 0.05092539],
       [0.932532  , 0.06746798],
       [0.5957481 , 0.40425187],
       [0.577009  , 0.42299098],
       [0.58127904, 0.41872096],
       [0.9554125 , 0.04458752],
       [0.9900137 , 0.00998626],
       [0.98188204, 0.01811799],
       [0.9447324 , 0.0552676 ],
       [0.9089935 , 0.09100652],
       [0.9040376 , 0.09596241],
       [0.5696219 , 0.4303781 ],
       [0.98104626, 0.01895376],
       [0.9576385 , 0.04236152],
       [0.94378024, 0.05621977],
       [0.9309873 , 0.06901271],
       [0.9571865 , 0.04281349],
       [0.88127756, 0.11872241],
       [0.9743018 , 0.02569819],
       [0.62233394, 0.37766606],
       [0.99711263, 0.00288738],
       [0.9296746 , 0.07032539],
       [0.9665698 , 0.03343019],
       [0.7951495 , 0.2048505 ],
       [0.97039235, 0.02960766],
       [0.99144167, 0.00855831],
       [0.95084983, 0.04915014],
       [0.9503345 , 0.04966551],
       [0.9887269 , 0.01127308],
       [0.97657764, 0.02342237],
       [0.77342826, 0.22657172],
       [0.9840873 , 0.01591271],
       [0.4685219 , 0.5314781 ],
       [0.9196202 , 0.08037976],
       [0.9073454 , 0.09265456],
       [0.75205326, 0.24794675],
       [0.9866296 , 0.01337037],
       [0.9654476 , 0.03455241],
       [0.9863285 , 0.01367152],
       [0.9800227 , 0.01997725],
       [0.84664625, 0.15335375],
       [0.5072955 , 0.49270454],
       [0.96768975, 0.03231025],
       [0.9942245 , 0.00577549],
       [0.9136248 , 0.08637516],
       [0.94879717, 0.05120283],
       [0.99185246, 0.00814755],
       [0.9865532 , 0.01344679],
       [0.7953943 , 0.2046057 ],
       [0.66225374, 0.33774626],
       [0.9912353 , 0.00876466],
       [0.94256794, 0.05743203],
       [0.9914827 , 0.00851735],
       [0.9180016 , 0.08199839],
       [0.92151713, 0.07848287],
       [0.9834401 , 0.01655991],
       [0.87325364, 0.12674634],
       [0.8765265 , 0.12347355],
       [0.97819924, 0.02180075],
       [0.97663486, 0.02336513],
       [0.9249245 , 0.07507551],
       [0.98984987, 0.01015014],
       [0.93496037, 0.06503966],
       [0.9124188 , 0.08758122],
       [0.75038123, 0.24961875],
       [0.47812736, 0.52187264],
       [0.9771271 , 0.02287293],
       [0.8644793 , 0.13552073],
       [0.9106254 , 0.08937461],
       [0.9830558 , 0.01694425],
       [0.04466832, 0.9553317 ],
       [0.8338287 , 0.16617131],
       [0.44227415, 0.55772585],
       [0.6155893 , 0.38441068],
       [0.94842273, 0.05157724],
       [0.9701406 , 0.02985941],
       [0.9357933 , 0.06420672],
       [0.9432886 , 0.05671139],
       [0.75464845, 0.24535152],
       [0.96054643, 0.03945354],
       [0.6165119 , 0.38348812],
       [0.9661372 , 0.0338628 ],
       [0.98273945, 0.01726057],
       [0.70782435, 0.29217565],
       [0.9902902 , 0.00970975],
       [0.945254  , 0.05474595],
       [0.98318636, 0.01681366],
       [0.98443085, 0.01556918],
       [0.90723634, 0.09276363],
       [0.86438274, 0.13561727],
       [0.8258614 , 0.1741386 ],
       [0.93615437, 0.06384563],
       [0.4109614 , 0.5890386 ],
       [0.8465345 , 0.15346551],
       [0.9733125 , 0.02668751],
       [0.87722933, 0.12277066],
       [0.9917472 , 0.00825282],
       [0.91985464, 0.08014534],
       [0.9650624 , 0.03493761],
       [0.9977985 , 0.00220148],
       [0.8760734 , 0.12392658],
       [0.98999834, 0.01000165],
       [0.87288505, 0.12711497],
       [0.9702057 , 0.02979427],
       [0.9185303 , 0.08146973],
       [0.9665257 , 0.0334743 ],
       [0.96954846, 0.03045155]], dtype=float32)

In [114]:
probs[:,1]

array([0.04825092, 0.05017549, 0.04861542, 0.04250488, 0.73688096,
       0.0234469 , 0.2559026 , 0.07673335, 0.04090788, 0.23270266,
       0.01266249, 0.16640511, 0.01973284, 0.78779197, 0.01265316,
       0.01343888, 0.06305563, 0.11675381, 0.0301418 , 0.34030867,
       0.8029618 , 0.02276536, 0.04555043, 0.02460744, 0.31516466,
       0.04684501, 0.05474424, 0.01142392, 0.9397278 , 0.02949616,
       0.00992165, 0.00946045, 0.06804861, 0.0378196 , 0.00465837,
       0.07071455, 0.05839734, 0.09302641, 0.2064541 , 0.02695853,
       0.01647674, 0.03219299, 0.00643916, 0.04784534, 0.06475449,
       0.6668541 , 0.37102807, 0.00960752, 0.96731913, 0.42801738,
       0.07129821, 0.16135834, 0.26409116, 0.02809616, 0.5109537 ,
       0.12626176, 0.02220662, 0.06819579, 0.011113  , 0.410419  ,
       0.0208216 , 0.02049159, 0.03745092, 0.0462529 , 0.20204404,
       0.00886445, 0.04057272, 0.02281234, 0.134923  , 0.06786575,
       0.06037744, 0.46350402, 0.0344633 , 0.03582943, 0.0654303 ,
       0.04794001, 0.12707968, 0.03363161, 0.17512362, 0.01456365,
       0.00765272, 0.01171612, 0.02339924, 0.08056315, 0.03404666,
       0.02980765, 0.02184447, 0.22809856, 0.03512179, 0.02621469,
       0.55216223, 0.02482261, 0.08835598, 0.41787314, 0.1703858 ,
       0.05845194, 0.04607737, 0.16842216, 0.01010295, 0.03849873,
       0.02530799, 0.08200006, 0.12639236, 0.01896777, 0.01130921,
       0.03392877, 0.07849022, 0.5941634 , 0.04985211, 0.02643835,
       0.31154698, 0.04126078, 0.01941348, 0.04463058, 0.09284396,
       0.01402083, 0.06456253, 0.05979088, 0.00997386, 0.00508235,
       0.00734737, 0.05612314, 0.0279963 , 0.9162026 , 0.32076764,
       0.00303297, 0.01184019, 0.08941932, 0.05552654, 0.07873404,
       0.01128956, 0.30526388, 0.20504625, 0.2859294 , 0.01589729,
       0.16343793, 0.34327784, 0.07031257, 0.03718792, 0.01385633,
       0.00972545, 0.08934239, 0.13903393, 0.0436898 , 0.2616434 ,
       0.03358276, 0.07484972, 0.00964324, 0.08331942, 0.056009  ,
       0.03990424, 0.24927893, 0.10503821, 0.05702614, 0.00777259,
       0.07476047, 0.00459355, 0.36295515, 0.11854557, 0.09015778,
       0.03032688, 0.02045267, 0.2809278 , 0.87896657, 0.02888511,
       0.23206563, 0.06825243, 0.03144697, 0.01117872, 0.03091175,
       0.07980204, 0.01209951, 0.12281023, 0.21854945, 0.00668784,
       0.201     , 0.01478984, 0.09647636, 0.30058578, 0.07836755,
       0.00805611, 0.01617681, 0.00400493, 0.42540357, 0.09852674,
       0.03281575, 0.15902464, 0.05092539, 0.06746798, 0.40425187,
       0.42299098, 0.41872096, 0.04458752, 0.00998626, 0.01811799,
       0.0552676 , 0.09100652, 0.09596241, 0.4303781 , 0.01895376,
       0.04236152, 0.05621977, 0.06901271, 0.04281349, 0.11872241,
       0.02569819, 0.37766606, 0.00288738, 0.07032539, 0.03343019,
       0.2048505 , 0.02960766, 0.00855831, 0.04915014, 0.04966551,
       0.01127308, 0.02342237, 0.22657172, 0.01591271, 0.5314781 ,
       0.08037976, 0.09265456, 0.24794675, 0.01337037, 0.03455241,
       0.01367152, 0.01997725, 0.15335375, 0.49270454, 0.03231025,
       0.00577549, 0.08637516, 0.05120283, 0.00814755, 0.01344679,
       0.2046057 , 0.33774626, 0.00876466, 0.05743203, 0.00851735,
       0.08199839, 0.07848287, 0.01655991, 0.12674634, 0.12347355,
       0.02180075, 0.02336513, 0.07507551, 0.01015014, 0.06503966,
       0.08758122, 0.24961875, 0.52187264, 0.02287293, 0.13552073,
       0.08937461, 0.01694425, 0.9553317 , 0.16617131, 0.55772585,
       0.38441068, 0.05157724, 0.02985941, 0.06420672, 0.05671139,
       0.24535152, 0.03945354, 0.38348812, 0.0338628 , 0.01726057,
       0.29217565, 0.00970975, 0.05474595, 0.01681366, 0.01556918,
       0.09276363, 0.13561727, 0.1741386 , 0.06384563, 0.5890386 ,
       0.15346551, 0.02668751, 0.12277066, 0.00825282, 0.08014534,
       0.03493761, 0.00220148, 0.12392658, 0.01000165, 0.12711497,
       0.02979427, 0.08146973, 0.0334743 , 0.03045155], dtype=float32)

In [115]:
submission

     user_id  Attrition
0        442   0.048251
1       1091   0.050175
2        981   0.048615
3        785   0.042505
4       1332   0.736881
..       ...        ...
289     1439   0.127115
290      481   0.029794
291      124   0.081470
292      198   0.033474
293     1229   0.030452

[294 rows x 2 columns]